body{
	margin: 0;
	font-family:sans-serif;
	background-color:#F1948A ;
	padding-top: 50px
	padding-bottom:50;
   text-align:center;
   border:20px solid black;
}
header h1{
	color: black ;

}


      header img{
   	border-radius: 170px;
	width: 300px;
	border: 10px solid white;
	text-align:center;
}
footer{
	background-color: white

}

main{

}