body{

	marks: 0;
	padding: 0;
	font-family: sans-serif;
    background: url(https://i.pinimg.com/originals/c5/2d/1f/c52d1f65486a98c2986c9e95ec4d511c.jpg);
    background-size: cover;
}
.container
{
	position: absolute;
	top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,.2)
}
.circle{
	width: 200px;
	height: 200px;
	background: url(https://vignette.wikia.nocookie.net/lady-bug/images/c/c2/Marinette_Dupain-Cheng_Square.png/revision/latest?cb=20190123200404);
	border-radius: 50%;
	float: left;
	shape shape-outside: circle();
	margin: 60px 30px 30px 0;
}
p
